version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"          
    schedule:
      interval: "weekly"   
    commit-message:
      prefix: "deps"       
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "org.springframework.boot"  
        versions: ["<3.0.0"]
