.idea/
*.iml
*.iws
out/
.gradle/
build/
build-logic/
.DS_Store
Thumbs.db
/common/
/paper/
/Tools/
/proxy/
/gradle/
/.github/
/config/
/build-logic/
/.idea/
/build/
/.gradle/
/.gitignore
/settings.gradle.kts
/SECURITY.md
/renovate.json
/README.md
/qodana.yaml
/NOTICE.txt
/LICENSE
/gradlew.bat
/gradlew
/gradle.properties
/CONTRIBUTING.md
/CODE_OF_CONDUCT.md
/build.gradle.kts
